<h class="header">Click on any book to see the details</h>
<% for(var i=0;i<books.length;i++){ %>
    <div class="books">
    <p> <a href="../books/<%-books[i]._id%>"><%= books[i].book %></a></p>  
    </div>
    </a>
<% } %>
<footer class="nav-pane">
    <nav>
        <p><a href="/home"> Home </a>|<a href="/AddNewBook"> Add a book </a>|<a href="/DeleteABook"> Delete a book </a></p>
    </nav>
</footer>